* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: mandatory;
}

.container .section {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-type: start;
    background-blend-mode: multiply
}

.container .section:nth-child(1) {
    background: #E14A6A url(https://img.20mn.fr/TsoSi5IETQCsAEBdLYIYwA/830x532_ile-moorea-polynesie-francaise-illustration.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(2) {
    background: #D48F6A url(https://cdn-css.tahitiheritage.pf/wp-content/uploads/2016/01/papeete-paofai-pierre-lesage.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(3) {
    background: #984C8A url(https://xdaysiny.com/wp-content/uploads/2015/12/Papeete-waterfront-at-night-Tahiti-French-Polynesia.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(4) {
    background: #8E001F url(https://i.pinimg.com/originals/95/09/09/950909ebe7bacb3ee002b26858113377.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(5) {
    background: #803A15 url(https://tahititourisme.com/wp-content/uploads/2017/06/tahiti-carvings.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section .content {
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 219px;
}

.container .section .content h2 {
    background: rgba(214, 110, 110, 0.637);
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: inline-block;
    padding: 20px;
    font-size: 2em;
    justify-content: center;
    display: flex;
    font-family: 'Seaweed Script', cursive;
}

.container .section .content p {
    background: rgba(214, 110, 110, 0.637);
    color: rgb(255, 255, 255);
    font-weight: 300;
    padding: 10px;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    font-family: 'Seaweed Script', cursive;
}

.container .section .content button{
    margin-top: 30px;
    margin-left: 45vw;
    font-family: 'Seaweed Script', cursive;
    padding: 6px;
    background-color: #AE092C;
    color: #fff;
}