:root{
    --text-color:#366CF4;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body {
      background: url(../img/belvedere.jpg);  
      background-size: cover;
      background-position: top center;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .form{
      padding: 100px;
      background: #AE092C;
      box-shadow: 3px 3px 7px 2px #00000040;
      border-radius: 10px;
  }
  h2{
      color: var(--text-color);
      text-transform: uppercase;
      font-family: sans-serif;
      text-align: center;
      margin-bottom: 30px;
  }
  .inputGroup{
  position: relative;
  }
  input{
      display: block;
      width: 100%;
      min-width: 380px;
      height: 45px;
      background: transparent;
      border: none;
      border-bottom: 2px solid #fff;
      outline: none;
      margin-bottom: 20px;
      color: aliceblue;
      font-size: 20px;
      padding: 10px 10px;
      
  }
  label{
     position: absolute;
     color: aliceblue;
      font-size: 20px;
      top: 10px;
      transition: .3s ease-out;
      pointer-events: none;
  }
  input:focus ~ label,
  input:valid ~ label
  {
      top: -10px;
      color: var(--text-color);
      font-size: 15px;
  }
  input:focus{
      border-bottom: 2px solid var(--text-color);
  }
  input[type="submit"]{
      background:var(--text-color) ;
      border: none;
      text-transform: uppercase;
      font-weight: 550;
      letter-spacing: 3px;
      border-radius: 10px;
      box-shadow: -4px -4px 9px #99999930,
          4px 4px 9px #00000080;
  }
  
  input[type="submit"]:hover{
      box-shadow: -8px -8px 15px  #99999930,
          8px 8px 15px #00000080;
      cursor: pointer;
  }
  input[type="submit"]:active{
      box-shadow: inset -1px -1px 3px  #99999930,
          inset 1px 1px 3px #00000080;
      transform: scale(0.999);
  }
  
  p,a{
      text-align: center;
      color: azure;
      font-family: cursive;
  }
  a{
      text-decoration: none;
      color: var(--text-color);
  }

  .demo-3 {
	--color-text: #fff;
	--color-link: #FFC8AA;
	--color-link-hover: #ffffff;
	--color-enter: #ffffff;
	--color-title: #ffffff;
	--color-subtitle: #FFC8AA;
	--color-menu-item: #000;
	--color-menu-item-hover: #FFC8AA;
	--color-menu-item-hover-alt: #87A7F7;
	--color-content: #AE092C;
	--color-content-fixed: #8E001F;
	--font-alt: 400 6vw/1 'Seaweed Script', cursive;
	--color-next: #fff;
	--color-next-hover: #000;
}


/* Page transitions */
main {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.content {
	width: 100%;
	height: 100vh;
	position: relative;
}

.content--intro {
	z-index: 100;
	height: 200vh;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--color-content-fixed);
	/* background-image: var(--bg-img); */
	/* can't use this as relative path until it's fixed in Chrome https://bugs.chromium.org/p/chromium/issues/detail?id=618165 */
	background-position: 50% 50%;
	background-size: cover;
}


.demo-3 .content--fixed {
	background-image: url(../img/belvedere.jpg);
}


.content__inner {
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content--intro .content__inner {
	background: var(--color-content);
}

.content h2 {
	margin: 0;
}

.shape-wrap {
	position: relative;
	z-index: 10;
	margin: -5px 0 0 0; /* Hide the gap */
}

.shape {
	height: 100vh;
	width: 100%;
	display: block;
	fill: var(--color-content);
}

.content__title {
	font: var(--font-alt);
	color: var(--color-title);
	margin: 0;
	line-height: 1;
}

.content__title--filled {
	background: var(--color-content);
	padding: 0.25em 0.5em;
}

.content__title span {
	display: inline-block;
}

.content__subtitle {
	font: var(--font-alt);
	font-size: 1.5em;
	color: var(--color-subtitle);
	padding: 0.5em 0 0 0;
	margin: 0;
}

.enter, .explore {    
	margin: 6vh 0 0 0;
	font-size: 1em;
	letter-spacing: 3px;
	cursor: pointer;
	font-weight: bold;
	white-space: pre;
	color: var(--color-enter);
	pointer-events: auto;
}

.enter:hover,
.enter:focus {    
	color: var(--color-enter);
}

.enter span {
	display: inline-block;
}

.explore {
	background: var(--color-subtitle);
	color: var(--color-title);
	padding: 0.5em 1em;
}

.explore:hover,
.explore:focus {    
	background: var(--color-text);
}

.menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.menu__item {
	font: var(--font-alt);
	font-size: 3vw;
	color: var(--color-menu-item);
	margin: 0 1em;
	position: relative;
	line-height: 1;
}

.menu__item:hover,
.menu__item:focus {
	color: var(--color-menu-item-hover);
}

.menu__item:nth-child(2):hover {
	color: var(--color-menu-item-hover-alt);
}


.content__text {
	font-size: 1.85em;
	max-width: 800px;
	text-align: left;
}

.content__text a {
	color: var(--color-menu-item);
}

.content__text a:hover, 
.content__text a:focus {
	color: var(--color-menu-item-hover);
}

@media screen and (max-width: 50em) {
	.frame {
		z-index: 1000;
		display: block;
		padding: 0.85em 0;
	}
	.demos {
		font-size: 0.85em;
		padding: 0 0.25em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
		padding-top: 5em;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
	}
	
	.content__title {
		font-size: 2em;
	}
	.demo {
		padding: 0;
		margin: 0;
	}
	
	.content__text {
		padding: 1em;
		font-size: 1em;
	}
	
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #ffaf00, #bb02ff);
    background-attachment: fixed;
}

.container1 {
    position: relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container1 .card1 {
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.container1:hover .card1 {
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}

.container1 .card1:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.container1 .card1 .circle1 {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.container1 .card1 .circle1 h2 {
    color: #fff;
    font-size: 4.5em;
    padding: 20px 0;
}

.container1 .card1 .content1 {
    position: absolute;
    bottom: 10px;
    page-break-after: 20px;
    text-align: center;
}

.container1 .card1 .content1 p {
    color: #666;
}

.container1 .card1 .content1 a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}

.container1 .card1:nth-child(1) .circle1,
.container1 .card1:nth-child(1) .content a {
    background: #ffaf00;
}

.container1 .card1:nth-child(2) .circle1,
.container1 .card1:nth-child(2) .content1 a {
    background: #00ff3c;
}

.container1 .card1:nth-child(3) .circle1,
.container1 .card1:nth-child(3) .content1 a {
    background: #3c00ff;
}


